<h1>Innlevering 3 i IMT1441</h1>
<nav>
  <ul>
    <li><a href="index.html">Førstesiden</a></li>
    <li><a href="kart.html">Kart</a></li>
    <li><a href="form.html">Sende data fra form</a></li>
    <li><a href="users.html">Presentere brukere</a></li>
  </ul>
</nav>
