#input, #result {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#input {
  width: 90%;
  height: 200px;
  margin: 10px auto;
  box-shadow: 6px 6px 23px 0px rgba(0,0,0,0.58);
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

#input:focus {
  outline: none;
}

#result {
  columns: 4;
}

#result h1:first-child {
  margin-top: 0;
}

#result h1 {
  margin-top: .8em;
  margin-bottom: .1em;
  font-size: 1.2em;
}

h1 {
  margin-bottom: 0;
}
