h1 {
  margin-left: 1em;
}

.meny {
  width: 100%
  height: 2em;
  font-size: 1.5em;
  padding: 0.5em;
  background-color: #99E;
}
.input {
  padding: 1em 2em;
}

.input label {
  display: inline-block;
  width: 4em;
  padding: 0;
}

.input input {
  width: 20em;
  padding: 0;
}

#postnr, label[for="sted"] {
  width: 3em;
}

#sted {
  width: 12em;
}

button {
  margin: 0.5em 6em;
  padding: 0.5em;
}

input[type="radio"] {
  width: auto;
}

.output {
  height: 50vh;
  overflow-y: auto;
  border: 1px solid blue;
  width: 90%;
  margin: 1em 2em;
  white-space: pre;
}
