body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: blue;
  color: white;
  padding: 1em;
  padding-bottom: 5px;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  width: 12em;
  background: lightgrey;
  color: black;
  padding: 5px;
  padding-left: 1em;
  margin-right: 1em;
}

header a, header a:visited, header a:hover, header a:active {
  color: black;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

/* Styles for slideshow on main page */
.slideshow {
  margin: 2em auto;
  position: relative;
  width: 75%;
}

#slide1, #slide2 {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
}

#slide2 {
  z-index: 2;
  transition: opacity 2s;
  opacity: 0;
}

/* Styles for map page */
main.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main.map section {
  min-width: 600px;
  height: 80vh;
  flex-grow: 2;
}

main.map aside {
  min-width: 650px;
  padding: 1em;
  flex-grow: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em auto;
  grid-template-areas:
    "address address"
    "north north"
    "west east"
    "south south"
}

main.map #address {
  grid-area: address;
}

main.map #north {
  grid-area: north;
  width: 300px;
  justify-self: center;
}

main.map #east {
  grid-area: east;
  width: 300px;
  justify-self: center;
}

main.map #west {
  grid-area: west;
  width: 300px;
  justify-self: center;
}

main.map #south {
  grid-area: south;
  width: 300px;
  justify-self: center;
}
