.user {
  display: grid;
  grid-template-columns: 120px 6em 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "image namelabel name"
      "image emaillabel email"
      "image addresslabel address"

}

.user .img {
  grid-area: image;
}

.user .namelabel {
  grid-area: namelabel;
}

.user .emaillabel {
  grid-area: emaillabel;
}

.user .addresslabel {
  grid-area: addresslabel;
}

.user .name {
  grid-area: name;
}

.user .email {
  grid-area: email;
}

.user .address {
  grid-area: address;
}

.user .img img {
  width: 110px;
  border-radius: 20px;
}

.userlist {
  height: 50vh;
  overflow-y: auto;
  padding: 0.5em;
  border: 1px solid grey;
  width: 30em;
  border-radius: 3px;
  margin: 1em 2em;
}
